<footer id="contact" class="contact">
  <div class="contact-banner">
    <div class="container">
      <div class="contact-txt">
        <div class="row">
          <div class="col-12">
            <div class="section-title">
              <h2>contact us</h2>
            </div>
            <!--/.section-title-->
            <form class="contact-form text-center">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Name" />
              </div>
              <!--/.form-group-->
              <div class="form-group">
                <input type="email" class="form-control" placeholder="E-mail" />
              </div>
              <!--/.form-group-->
              <div class="form-group">
                <textarea
                  class="form-control"
                  rows="5"
                  placeholder="Message..."
                ></textarea>
              </div>
              <!--/.form-group-->
              <button type="submit" class="btn welcome-btn">send</button>
            </form>
            <!--/form-->
          </div>
          <!--/.col-->
        </div>
        <!--/.row-->
      </div>
      <!--/.contact-txt-->
    </div>
    <!--/.container-->
  </div>
  <!--/.contact-banner-->
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div
          class="col-xl-auto col-sm-8 col-12 order-xl-1 order-1 text-sm-left text-center"
        >
          <p>
            <span></span>@2018
            <a href="https://www.themesine.com/">themesine</a>
          </p>
          <!--/p-->
        </div>
        <!--/.col-->
        <div class="col-xl-7 col-12 order-xl-2 order-3 text-center">
          <div class="footer-terms">
            <ul>
              <li><a href="#">product</a></li>
              <li><a href="#">support</a></li>
              <li><a href="#">link</a></li>
              <li><a href="#">about</a></li>
              <li><a href="#">blog</a></li>
              <li><a href="#">faq</a></li>
            </ul>
            <!--/ul-->
          </div>
          <!--/.footer-terms-->
        </div>
        <!--/.col-->
        <div
          class="col-xl-auto col-sm-4 col-12 order-xl-3 order-2 text-sm-right text-center"
        >
          <div class="footer-social-logo">
            <ul>
              <li>
                <a href="#"><i class="fa fa-pinterest-p"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-facebook-f"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-behance"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
            </ul>
            <!--/ul-->
          </div>
          <!--/.footer-social-logo-->
        </div>
        <!--/.col-->
      </div>
      <!--/.row-->
    </div>
    <!--/.container-->
  </div>
  <!--/.footer-copyright-->

  <div id="scroll-Top">
    <div class="return-to-top">
      <i
        class="fa fa-angle-up "
        id="scroll-top"
        data-toggle="tooltip"
        data-placement="top"
        title=""
        data-original-title="Back to Top"
        aria-hidden="true"
      ></i>
    </div>
  </div>
  <!--/.scroll-Top-->
</footer>
