/* RadioButton Dificultad */
body {
  font-family: "Courier New", Courier, monospace;
}

h1 {
  text-align: center;
}

.arriba {
  margin: auto;
  width: 40%;
  min-width: 30px;

}
legend {
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
}

fieldset div input {
  margin: 0.4rem;
}

.juego table {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  margin: auto;
  box-shadow: 10px 10px 10px;
}

.juego table td {
  width: 30px;
  min-width: 30px;
  height: 30px;
  min-width: 30px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  background-color: lightgray;
}

.spooky{
  display: block;
  margin: auto;
  text-align: center;

}
