		<!--welcome-hero start -->
		<section id="home" class="welcome-hero d-flex align-items-center">
			<div class="container">
				<div class="welcome-txt">
					<h2>antarctica</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor
						sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
					</p>
					<button class="btn welcome-btn">read more</button>
				</div><!--/.welcome-txt-->
			</div><!--/.container-->
		</section><!--/.welcome-hero-->
		<!--welcome-hero end -->

		<section class="service">
			<div class="container-fluid">
				<div class="welcome-hero-service d-lg-flex justify-content-around">
					<div class="hero-service"></div>
					<div class="hero-service">
						<div class="single-featured-list d-flex">
							<div class="f-rec"></div><!--/.f-rec-->
							<div class="single-featured-list-txt">
								<h3>Integer tincidunt. Cras dapibus</h3>
								<p>
									 honcus, sem quam semper libero, sit ametadipiscing sem neque sed ipsum. sem quam semper libero, sit amet adipiscing
								</p>
							</div><!--/.single-featured-list-txt-->
						</div><!--/.single-featured-list-txt-->
					</div><!-- /.hero-service -->
					<div class="hero-service">
						<div class="single-featured-list d-flex">
							<div class="f-rec"></div><!--/.f-rec-->
							<div class="single-featured-list-txt">
								<h3>Integer tincidunt. Cras dapibus</h3>
								<p>
									 honcus, sem quam semper libero, sit ametadipiscing sem neque sed ipsum. sem quam semper libero, sit amet adipiscing
								</p>
							</div><!--/.single-featured-list-txt-->
						</div><!--/.single-featured-list-txt-->
					</div><!-- /.hero-service -->
				</div>
			</div>
		</section>