<div class="card">
  <div class="card-header bg-primary text-white">My product's list</div>
  <div class="card-block">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Available</th>
          </tr>
        </thead>
        <tbody>
          <div class="card">
            <div class="card-header bg-primary text-white">{{ title }}</div>
            <div class="card-block">
              <div class="table-responsive" *ngIf="products && products.length">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>{{ headers.desc }}</th>
                      <th>{{ headers.price }}</th>
                      <th>{{ headers.avail }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let product of products;
                        let i = index;
                        let isEven = even
                      "
                    >
                      <td [ngClass]="{ even: isEven }">{{ "Index: " + i }}</td>
                      <td>{{ product.desc }}</td>
                      <td>{{ product.price }}</td>
                      <td>{{ product.avail }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </tbody>
      </table>
    </div>
  </div>
</div>
