<!--about start -->
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-12">
        <div class="single-about-txt">
          <h2>haines mountains</h2>
          <p>
            <span>l</span>orem ipsum dolor sit amet, consectetur adipiscing elit. Duis blandit et nunc id pulvinar. Praesent eleifend, diam id venenatis commodo, orci mi molestie tortor, ac facilisis odio magna non tortor. Nunc odio dui, fermentum vel fringilla vitae, facilisis at risus. Integer eget pellentesque enim, ac laoreet dolor. Ut in lectus et risus sollicitudin convallis. Nullam at vulputate tortor, quis suscipit ex. Donec nec ipsum sit amet orci blandit auctor.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis blandit et nunc id pulvinar. Praesent eleifend, diam id venenatis commodo, orci mi molestie tortor, ac facilisis odio magna non tortor. 
          </p>
          <button class="btn welcome-btn">read more</button>
        </div><!--/.single-about-txt-->
      </div><!--/.col-->
    </div><!--/.row-->
  </div><!--/.container -->
  <div class="about-overlay">
    <img src="assets/images/about/about-banner.jpg" alt="images">
  </div><!--/.about-overlay-->
</section><!--/.about end -->
<!--about end -->

<!--about-2 start -->
<section id="about-2" class="about-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="single-about-txt-2">
          <h4>Curabitur ullamcorper</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
            penatibus et magnis dis parturient montes, nascetur
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          </p>
        </div><!--/.single-about-txt-->
      </div><!--/.col-->
      <div class="col-lg-5">
        <div class="single-about-txt">
          <h2>Best Possible Way To Reach</h2>
          <p>
            <span>q</span>orem ipsum dolor sit amet, consectetur adipiscing elit. Duis blandit et nunc id pulvinar. Praesent eleifend, diam id venenatis commodo, orci mi molestie tortor, ac facilisis odio magna non tortor. Nunc odio dui, fermentum vel fringilla vitae, facilisis at risus. Integer eget pellentesque enim, ac laoreet dolor. Ut in lectus et risus sollicitudin convallis. Nullam at vulputate tortor, quis suscipit ex. Donec nec ipsum sit amet orci blandit auctor.
          </p>
        </div><!--/.single-about-txt-->
      </div><!--/.col-->
    </div><!--/.row-->
  </div><!--/.container -->
  <div class="about-overlay-2"></div><!--/.about-overlay-->
</section><!--/.about-2 end -->
<!--about-2 end -->
<!--gallery start-->
<section class="gallery">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12">
        <div class="single-gallery-box">
          <div class="img-item">
            <img src="assets/images/gallary/g2.jpg" alt="images">
             <div class="img-item-overlay d-flex flex-column justify-content-center align-items-center">
               <h3><a href="#">sao paolo, brazil</a></h3>
              <button class="btn welcome-btn gallery-btn">view details</button>
             </div><!--/.img-item-overlay-->
          </div><!--/.img-item-->
          <div class="img-item">
            <img src="assets/images/gallary/g6.jpg" alt="images">
             <div class="img-item-overlay d-flex flex-column justify-content-center align-items-center">
               <h3><a href="#">sao paolo, brazil</a></h3>
              <button class="btn welcome-btn gallery-btn">view details</button>
             </div><!--/.img-item-overlay-->
          </div><!--/.img-item-->
          <div class="img-item">
            <img src="assets/images/gallary/g5.jpg" alt="images">
             <div class="img-item-overlay d-flex flex-column justify-content-center align-items-center">
               <h3><a href="#">sao paolo, brazil</a></h3>
              <button class="btn welcome-btn gallery-btn">view details</button>
             </div><!--/.img-item-overlay-->
          </div><!--/.img-item-->
        </div><!--/.single-gallery-box-->
      </div><!--/.col-->
      <div class="col-md-6 col-12">
        <div class="single-gallery-box">
          <div class="img-item">
            <img src="assets/images/gallary/g4.jpg" alt="images">
             <div class="img-item-overlay d-flex flex-column justify-content-center align-items-center">
               <h3><a href="#">sao paolo, brazil</a></h3>
              <button class="btn welcome-btn gallery-btn">view details</button>
             </div><!--/.img-item-overlay-->
          </div><!--/.img-item-->
          <div class="img-item">
            <img src="assets/images/gallary/g3.jpg" alt="images">
             <div class="img-item-overlay d-flex flex-column justify-content-center align-items-center">
               <h3><a href="#">sao paolo, brazil</a></h3>
              <button class="btn welcome-btn gallery-btn">view details</button>
             </div><!--/.img-item-overlay-->
          </div><!--/.img-item-->
        </div><!--/.single-gallery-box-->
      </div><!--/.col-->
    </div><!--/.row-->
  </div><!--/.container-->
</section><!--/.gallery-->
<!--gallery end-->

<!--featured-list start-->
<section class="featured-list">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12">
        <div class="single-featured-list d-flex">
          <div class="f-rec"></div><!--/.f-rec-->
          <div class="single-featured-list-txt">
            <h3>Integer tincidunt. Cras dapibus</h3>
            <p>
               honcus, sem quam semper libero, sit ametadipiscing sem neque sed ipsum. sem quam semper libero, sit amet adipiscing
            </p>
          </div><!--/.single-featured-list-txt-->
        </div><!--/.single-featured-list-->
        <div class="single-featured-list d-flex">
          <div class="f-rec"></div><!--/.f-rec-->
          <div class="single-featured-list-txt">
            <h3>Integer tincidunt. Cras dapibus</h3>
            <p>
               honcus, sem quam semper libero, sit ametadipiscing sem neque sed ipsum. sem quam semper libero, sit amet adipiscing
            </p>
          </div><!--/.single-featured-list-txt-->
        </div><!--/.single-featured-list-->
      </div><!--/.col-->
      <div class="col-md-6 col-12">
        <div class="single-featured-list d-flex">
          <div class="f-rec"></div><!--/.f-rec-->
          <div class="single-featured-list-txt">
            <h3>Integer tincidunt. Cras dapibus</h3>
            <p>
              honcus, sem quam semper libero, sit ametadipiscing sem neque sed ipsum. sem quam semper libero, sit amet adipiscing
            </p>
          </div><!--/.single-featured-list-txt-->
        </div><!--/.single-featured-list-->
        <div class="single-featured-list d-flex">
          <div class="f-rec"></div><!--/.f-rec-->
          <div class="single-featured-list-txt">
            <h3>Integer tincidunt. Cras dapibus</h3>
            <p>
              honcus, sem quam semper libero, sit ametadipiscing sem neque sed ipsum. sem quam semper libero, sit amet adipiscing
            </p>
          </div><!--/.single-featured-list-txt-->
        </div><!--/.single-featured-list-->
      </div><!--/.col-->
    </div><!--/.row-->
  </div><!--/.container-->
</section><!--/.featured-list-->
<!--featured-list end-->

<!--featured start-->
<section class="featured">
  <div class="container-fluid">
    <div class="section-title">
      <h2>featured blog</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis blandit et nunc id pulvinar. Praesent eleifend, diam id venenatis commodo, orci mi molestie tortor, ac facilisis odio magna non tortor. 
      </p>
    </div><!--/.section-title-->
    <div class="featured-txt">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
          <div class="single-featured-box">
            <img src="assets/images/featured/f1.jpg" alt="featured-images">
            <div class="single-featured-box-overlay"></div>
          </div><!--/.single-featured-box-->
        </div><!--/.col-->
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
          <div class="single-featured-box">
            <img src="assets/images/featured/f2.jpg" alt="featured-images">
            <div class="single-featured-box-overlay">

            </div><!--/.single-featured-box-overlay-->
          </div><!--/.single-featured-box-->
        </div><!--/.col-->
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
          <div class="single-featured-box">
            <img src="assets/images/featured/f3.jpg" alt="featured-images">
            <div class="single-featured-box-overlay"></div>
          </div><!--/.single-featured-box-->
        </div><!--/.col-->
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
          <div class="single-featured-box">
            <img src="assets/images/featured/f4.jpg" alt="featured-images">
            <div class="single-featured-box-overlay"></div>
          </div><!--/.single-featured-box-->
        </div><!--/.col-->
      </div><!--/.row-->
    </div><!--/.featured-txt-->
    <div class="featured-btn text-center">
      <button class="btn welcome-btn featured-button">see all blog</button>
    </div><!--/.featured-btn-->
  </div><!--/.container-fluid-->
</section><!--/.featured-->
<!--featured end-->

<!--service-2 start-->
<section class="service-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-service2-box text-center">
          <div class="icon-box">
            <i class="flaticon-contact"></i>
          </div><!--/.icon-box-->
          <div class="single-service2-box-txt">
            <h3>Curabitur ullamcorper</h3>
            <p>
               Lorem ipsum dolor sit amet, consectetuer adipiscin
            </p>
          </div><!--/.single-service2-box-txt-->
        </div><!--/.single-service2-box-->
      </div><!--/.col-->
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-service2-box text-center">
          <div class="icon-box">
            <i class="flaticon-business-cards"></i>
          </div><!--/.icon-box-->
          <div class="single-service2-box-txt">
            <h3>Curabitur ullamcorper</h3>
            <p>
               Lorem ipsum dolor sit amet, consectetuer adipiscin
            </p>
          </div><!--/.single-service2-box-txt-->
        </div><!--/.single-service2-box-->
      </div><!--/.col-->
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-service2-box text-center">
          <div class="icon-box">
            <i class="flaticon-contact"></i>
          </div><!--/.icon-box-->
          <div class="single-service2-box-txt">
            <h3>Curabitur ullamcorper</h3>
            <p>
               Lorem ipsum dolor sit amet, consectetuer adipiscin
            </p>
          </div><!--/.single-service2-box-txt-->
        </div><!--/.single-service2-box-->
      </div><!--/.col-->
    </div><!--/.row-->
  </div><!--/.container-->
</section><!--/.service-2 end-->
<!--service-2 end-->

<!--information start-->
<section class="information">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-12">
        <div class="single-information-box">
          <h2>
            Antarctica is defined as all land and ice shelves south of 60°
          </h2>
          <p>
            Aliquam lorem ante, dapibus in, viverra quis, feugiat a tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque
            rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.
            Maecenas tempus, tellus eget Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget
          </p>
        </div><!--/.single-information-box-->
      </div><!--/.col-->
      <div class="col-md-4 col-sm-6 col-12">
        <div class="single-information-box">
          <h2>
             Does Antarctica have countries? No, it does not.
          </h2>
          <p>
            Aliquam lorem ante, dapibus in, viverra quis, feugiat a tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque
            rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.
            Maecenas tempus, tellus eget Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget
          </p>
        </div><!--/.single-information-box-->
      </div><!--/.col-->
      <div class="col-md-4 col-sm-6 col-12">
        <div class="single-information-box">
          <h2>
             There are about 4,000 seasonal visitors to Antarctica
          </h2>
          <p>
            Aliquam lorem ante, dapibus in, viverra quis, feugiat a tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque
            rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.
            Maecenas tempus, tellus eget Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget
          </p>
        </div><!--/.single-information-box-->
      </div><!--/.col-->
    </div><!--/.row-->
  </div><!--/.container-->
</section><!--/.information-->
<!--information end-->