<!--contact start-->
<footer id="contact"  class="contact">
  <div class="contact-banner">
    <div class="container">
      <div class="contact-txt">
        <div class="row">
          <div class="col-12">
            <div class="section-title">
              <h2>contact us</h2>
             </div><!--/.section-title-->
             <form class="contact-form text-center">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Name">
              </div><!--/.form-group-->
              <div class="form-group">
                <input type="email" class="form-control" placeholder="E-mail">
              </div><!--/.form-group-->
              <div class="form-group">
                <textarea class="form-control" rows="5" placeholder="Message..."></textarea>
              </div><!--/.form-group-->
              <button type="submit" class="btn welcome-btn">send</button>
            </form><!--/form-->
          </div><!--/.col-->
        </div><!--/.row-->
      </div><!--/.contact-txt-->
    </div><!--/.container-->
  </div><!--/.contact-banner-->